<nav class="navbar navbar-light" style="background-color: lightskyblue">
  <div class="container">
    <ul class="nav nav-pills align-items-center w-100">
      <li class="nav-item">
        <a class="nav-link {% if view_name == 'sight:list' %}active text-white{% endif %}" href="{% url 'sight:list' %}">
          Главная
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if view_name == 'sight:create' %}active text-white{% endif %}" href="{% url 'sight:create' %}">
          Создать карточку места
        </a>
      </li>
      <li class="nav-item ms-auto d-flex align-items-center">
        {% if user.is_authenticated %}
          <span class="nav-link disabled">Пользователь: {{ user.username }}</span>
          <form action="{% url 'logout' %}" method="post" class="d-inline">
            {% csrf_token %}
            <button class="btn btn-outline-light btn-sm ms-2" type="submit">Выйти</button>
          </form>
        {% else %}
          <a class="btn btn-outline-light btn-sm" href="{% url 'login' %}">Войти</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
