{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<!-- Этот блок мы уберём, в нашей форме ошибки выводятся внутри формы. -->
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="card col-4 m-3">
    <div class="card-header">
      Войти в систему
    </div>
    <div class="card-body">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="d-flex justify-content-between align-items-center">
          {% bootstrap_button button_type="submit" content="Войти" %}
          <a class="btn btn-primary ms-2" href="{% url 'registration' %}">Зарегистрироваться</a>
        </div>
      </form>
    </div>
  </div>
  
{% endblock %}